* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #333;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 32px;
  color: #fff;
  font-size: 1.5em;
  padding: 14px 24px;
  border: 1px solid black;
  background-color: #7289DA;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.Bot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 70vh;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 1rem;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.new-box {
  display: flex;
  flex-direction: row;
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #fff;
  width: 95%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.new-box > strong {
  color: #fff;
  background: linear-gradient(135deg, #7289DA, #5A6EB9);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 15rem;
  max-width: 10rem;
  max-height: 4.5rem;
  padding: 10px; 
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 10px; 
  border: none; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center; 
  white-space: normal; 
}


.new-box > p {
  flex: 1;
  font-weight: bold;
  padding-left: 1.5rem;
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis; 
}

button {
  height: 2rem;
  margin-bottom: 5px;
  margin-top: 5px;
  position: relative;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer {
  background-color: #333;
  width: 100%;
  height: 5rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: white;
}

.pagination button {
  width: 5rem;
  font-weight: bold;
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 10px 20px;
  margin: 0 5px;
  border: 1px solid #ccc;
  background-color: #7289da;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination #pageNumber {
  font-size: 1.2em;
  margin: 0 10px;
}

.edit-btn {
  background-color: #7289da;
  font-weight: bold;
  color: white;
  width: 5rem;
}

.delete-btn {
  background-color: #f44336;
  font-weight: bold;
  color: white;
  width: 5rem;
}
