.Model-Section {
  display: inline-block;
  align-items: center;
}

.model-dropdown {
  background: #fff;
  font-size: 14px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50rem;
  height: 45px;
}
