.new-box {
  display: flex;
  flex-direction: row;
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #fff;
  width: 98%;
  height: 10rem;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.new-box > .title-box {
  margin-right: 20px;
  width: 20%;
  height: 100%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #7289DA, #5A6EB9);
  color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.new-box > .title-box > i {
  margin-bottom: 10px;
  font-size: 36px;
}

.new-box > .title-box > .model-text {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #7289DA;
  background-color: #fff;
  color: black;
  width: 10rem;
  height: auto;
  min-height: 3rem;
  max-height: 4rem; 
  border-radius: 10px;
  text-align: center;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}

.new-box > .content-box {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  overflow: hidden;
  margin-left: 5px;
  text-align: left !important;
}

.new-box > .title-box,
.new-box > .content-box {
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 5px;
  overflow: hidden;
}

.new-box > .content-box > p {
  overflow: hidden;
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  white-space: normal;
  font-size: 16px;
  align-self: flex-start;
  text-align: left;
  margin: 0;
  width: 100%;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  height: 100%;
}
