.new-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 15px;
  background-color: #fff;
  width: 98%;
  height: 10rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #444;
  opacity: 0.7;
  color: #fff;
}


  .title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 15px;
  width: 20%;
  height: 100%;
  background:#7289DA;  
  color: #fff;
  opacity: 0.7;
  border-radius: 10px;
  background-size: 300% 200%;
}


.new-box > .title-box > i {
  margin-bottom: 10px;
  font-size: 36px;
}

.new-box > .title-box > .model-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: black;
  width: 10rem;
  min-height: 3rem;
  max-height: 4rem;
  border: 1px solid #7289DA;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.new-box > .content-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
  border-radius: 5px;

  margin-right: 10px;
}

.new-box > .content-box > .content-inner {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 90%;
}

.new-box > .content-box > .content-inner > .div-i {
  width: 90%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 10rem;
  cursor: pointer;
  position: relative;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%; 
  left: 46%;
  transform: translateX(-50%);
  font-size: 0.9rem; 
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.div-i:hover .tooltip-text {
  visibility: visible;
  opacity: 0.8;
}



.new-box > .content-box > .content-inner > .div-p {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}

.new-box > .content-box > .content-inner > .div-p > p {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  height: 100%;
}
