/* pagination.css */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;
  }
  
  .pagination button {
    width: 5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: #7289da;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination #pageNumber {
    font-size: 1.2em;
    margin: 0 10px;
  }
  