.custom-toast {
    position: fixed !important;
    transform: translate(-0%,0%);
    bottom: 20px;
    left: 20px;
    background-color: #fff;
    color: #000;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    overflow: hidden;
    position: relative;
    width: 250px; 
  }
  
  .custom-toast.success {
    border-left: none;
  }
  
  .custom-toast.error {
    border-left: none;
  }
  
  .custom-toast button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    margin-left: 20px;
    padding: 8px 16px; 
    background-color: #f44336; 
    color: white; 
    border-radius: 4px; 
 }
  
  .custom-toast button:hover {
    background-color: #d32f2f; 
  }
  
  .custom-toast.hide {
    opacity: 0;
  }
  
  .progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: #4caf50;
    animation: progress 3s linear forwards;
  }
  
  @keyframes progress {
    from {
      width: 100%;
    }
    to {
      width: 0%;
    }
  }
  