.homesection{
  background-color: #333;
}
.content {
  height: 100vh;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  background-color: #333;
  }

  .text {
    color: white;
    flex: 1;
    letter-spacing: 0.2cm;
  }
  .text > * {
    width: 80%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; 
  }
  .h1{
    color: #7289DA;
    text-align: left;
  }

  .h2 {
    font-size: 20px;
  }

  .p {
    color: #bbb;
    opacity: 0.9;
  }
  .banner {
    scale: 0.7;
    flex: 1;
    animation: bannerAni 1.5s infinite;
  }

  @keyframes bannerAni {
      50% {
        transform: translateY(-10px); 
        animation-timing-function: steps(100);
      }
      100% {
        transform: translateY(0);
      }
  }
  
  .img {
    max-width: 100%; 
    height: auto;
  }

  .Animation {
    background-color: #333;
    
  }

  .downScroll {
    display: block;
    width: 2rem;
    height: 2rem;
    background: transparent;
    margin: 0 auto;
    cursor: pointer;
    color: whitesmoke;
    animation: ScrollAni 1.5s infinite;
  }

  @keyframes ScrollAni {
    50% {
      transform: translateY(-3px); 
      animation-timing-function: steps(100);
    }
    100% {
      transform: translateY(0);
    }
}