
.features {
    background: white;
    margin-bottom: -1em;
}

.features > *  {
    background: white;
}

.title {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: red;
    font-size: 32px;
    width: 100%;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.box1 {
    width: 100%;
    height: 50vh;
    background-color: white;
    margin: 10px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-bottom: 15%;
}

.item1 {
    background: white;
    width: 50%;
    margin-top: 5%;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
}
.item1 h1 {
    width: 40vw;
    background: white;
    margin-left: 20%;
    margin-bottom: 5%;
    font-size: 36px;
    font-weight: bold;
}
.item1 p {
    width: 40vw;
    background: white;
    margin-left: 20%;
    font-size: 20px;
}

.item2 {
    background: white;
    width: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-left: 10%;
}

.box2 {
    width: 100%;
    height: 50vh;
    background-color: white;
    margin: 10px;
    margin-bottom: 15%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: row-reverse; 
}

.item3 {
    background: white;
    width: 50%;
    margin-top: 5%;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
}
.item3 h1 {
    width: 40vw;
    background: white;
    margin-right: 15%;
    margin-bottom: 5%;
    font-size: 36px;
    font-weight: bold;
}
.item3 p {
    width: 40vw;
    background: white;
    margin-right: 10%;
    font-size: 20px;
}

.item4 {
    background: white;
    width: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-right: 10%;
}

.img1 {
    background: white;
    width: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-left: 10%;
    opacity: 0;
    transform: translateX(40%);
    transition: opacity 2s ease, transform 1s ease;
}
.img1.visible {
    background: white;
    width: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-left: 10%;
    opacity: 1;
    transform: translateX(0);
  }

.img2 {
    background: white;
    width: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-left: 10%;
    opacity: 0;
    transform: translateX(-70%);
    transition: opacity 2s ease, transform 1s ease;
}

.img2.visible {
    background: white;
    width: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-left: 10%;
    opacity: 1;
    transform: translateX(0);
  }
.img3 {
    background: white;
    width: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-left: 10%;
    opacity: 0;
    transform: translateX(40%);
    transition: opacity 2s ease, transform 1s ease;
}
.img3.visible{
    background: white;
    width: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-left: 10%;
    opacity: 1;
    transform: translateX(0);
}
.img4 {
    background: white;
    width: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-left: 10%;
    opacity: 0;
    transform: translateX(-70%);
    transition: opacity 2s ease, transform 1s ease;
}
.img4.visible {
    background: white;
    width: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-left: 10%;
    opacity: 1;
    transform: translateX(0);
  }

  svg {
    margin-bottom: -50px;
  }